# Inforlube - Lubrax Mais Web - Cadastro Fácil - UI

# Ignora arquivos de pastas e sub-pastas:
temp/
test/

# Ignora arquivos com extensão:
*.sample
*.temp
*.todo
*.test
*.exe

# Ignora arquivos:
web.config