@charset "UTF-8";

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
    .header button {
        width: 48px;
        height: 48px;
        border-style: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 32px 32px;
        background-position: center center;
        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.9453 1.25C13.5778 1.24998 12.4754 1.24996 11.6085 1.36652C10.7084 1.48754 9.95048 1.74643 9.34857 2.34835C8.82363 2.87328 8.55839 3.51836 8.41916 4.27635C8.28387 5.01291 8.25799 5.9143 8.25196 6.99583C8.24966 7.41003 8.58357 7.74768 8.99778 7.74999C9.41199 7.7523 9.74964 7.41838 9.75194 7.00418C9.75803 5.91068 9.78643 5.1356 9.89448 4.54735C9.99859 3.98054 10.1658 3.65246 10.4092 3.40901C10.686 3.13225 11.0746 2.9518 11.8083 2.85315C12.5637 2.75159 13.5648 2.75 15.0002 2.75H16.0002C17.4356 2.75 18.4367 2.75159 19.1921 2.85315C19.9259 2.9518 20.3144 3.13225 20.5912 3.40901C20.868 3.68577 21.0484 4.07435 21.1471 4.80812C21.2486 5.56347 21.2502 6.56459 21.2502 8V16C21.2502 17.4354 21.2486 18.4365 21.1471 19.1919C21.0484 19.9257 20.868 20.3142 20.5912 20.591C20.3144 20.8678 19.9259 21.0482 19.1921 21.1469C18.4367 21.2484 17.4356 21.25 16.0002 21.25H15.0002C13.5648 21.25 12.5637 21.2484 11.8083 21.1469C11.0746 21.0482 10.686 20.8678 10.4092 20.591C10.1658 20.3475 9.99859 20.0195 9.89448 19.4527C9.78643 18.8644 9.75803 18.0893 9.75194 16.9958C9.74964 16.5816 9.41199 16.2477 8.99778 16.25C8.58357 16.2523 8.24966 16.59 8.25196 17.0042C8.25799 18.0857 8.28387 18.9871 8.41916 19.7236C8.55839 20.4816 8.82363 21.1267 9.34857 21.6517C9.95048 22.2536 10.7084 22.5125 11.6085 22.6335C12.4754 22.75 13.5778 22.75 14.9453 22.75H16.0551C17.4227 22.75 18.525 22.75 19.392 22.6335C20.2921 22.5125 21.0499 22.2536 21.6519 21.6517C22.2538 21.0497 22.5127 20.2919 22.6337 19.3918C22.7503 18.5248 22.7502 17.4225 22.7502 16.0549V7.94513C22.7502 6.57754 22.7503 5.47522 22.6337 4.60825C22.5127 3.70814 22.2538 2.95027 21.6519 2.34835C21.0499 1.74643 20.2921 1.48754 19.392 1.36652C18.525 1.24996 17.4227 1.24998 16.0551 1.25H14.9453Z" fill="%233bad2d"/><path d="M15 11.25C15.4142 11.25 15.75 11.5858 15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H4.02744L5.98809 14.4306C6.30259 14.7001 6.33901 15.1736 6.06944 15.4881C5.79988 15.8026 5.3264 15.839 5.01191 15.5694L1.51191 12.5694C1.34567 12.427 1.25 12.2189 1.25 12C1.25 11.7811 1.34567 11.573 1.51191 11.4306L5.01191 8.43056C5.3264 8.16099 5.79988 8.19741 6.06944 8.51191C6.33901 8.8264 6.30259 9.29988 5.98809 9.56944L4.02744 11.25H15Z" fill="%233bad2d"/></svg>');
        cursor: pointer;
    }
    .header button:hover { background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.9453 1.25C13.5778 1.24998 12.4754 1.24996 11.6085 1.36652C10.7084 1.48754 9.95048 1.74643 9.34857 2.34835C8.82363 2.87328 8.55839 3.51836 8.41916 4.27635C8.28387 5.01291 8.25799 5.9143 8.25196 6.99583C8.24966 7.41003 8.58357 7.74768 8.99778 7.74999C9.41199 7.7523 9.74964 7.41838 9.75194 7.00418C9.75803 5.91068 9.78643 5.1356 9.89448 4.54735C9.99859 3.98054 10.1658 3.65246 10.4092 3.40901C10.686 3.13225 11.0746 2.9518 11.8083 2.85315C12.5637 2.75159 13.5648 2.75 15.0002 2.75H16.0002C17.4356 2.75 18.4367 2.75159 19.1921 2.85315C19.9259 2.9518 20.3144 3.13225 20.5912 3.40901C20.868 3.68577 21.0484 4.07435 21.1471 4.80812C21.2486 5.56347 21.2502 6.56459 21.2502 8V16C21.2502 17.4354 21.2486 18.4365 21.1471 19.1919C21.0484 19.9257 20.868 20.3142 20.5912 20.591C20.3144 20.8678 19.9259 21.0482 19.1921 21.1469C18.4367 21.2484 17.4356 21.25 16.0002 21.25H15.0002C13.5648 21.25 12.5637 21.2484 11.8083 21.1469C11.0746 21.0482 10.686 20.8678 10.4092 20.591C10.1658 20.3475 9.99859 20.0195 9.89448 19.4527C9.78643 18.8644 9.75803 18.0893 9.75194 16.9958C9.74964 16.5816 9.41199 16.2477 8.99778 16.25C8.58357 16.2523 8.24966 16.59 8.25196 17.0042C8.25799 18.0857 8.28387 18.9871 8.41916 19.7236C8.55839 20.4816 8.82363 21.1267 9.34857 21.6517C9.95048 22.2536 10.7084 22.5125 11.6085 22.6335C12.4754 22.75 13.5778 22.75 14.9453 22.75H16.0551C17.4227 22.75 18.525 22.75 19.392 22.6335C20.2921 22.5125 21.0499 22.2536 21.6519 21.6517C22.2538 21.0497 22.5127 20.2919 22.6337 19.3918C22.7503 18.5248 22.7502 17.4225 22.7502 16.0549V7.94513C22.7502 6.57754 22.7503 5.47522 22.6337 4.60825C22.5127 3.70814 22.2538 2.95027 21.6519 2.34835C21.0499 1.74643 20.2921 1.48754 19.392 1.36652C18.525 1.24996 17.4227 1.24998 16.0551 1.25H14.9453Z" fill="%2384ea00"/><path d="M15 11.25C15.4142 11.25 15.75 11.5858 15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H4.02744L5.98809 14.4306C6.30259 14.7001 6.33901 15.1736 6.06944 15.4881C5.79988 15.8026 5.3264 15.839 5.01191 15.5694L1.51191 12.5694C1.34567 12.427 1.25 12.2189 1.25 12C1.25 11.7811 1.34567 11.573 1.51191 11.4306L5.01191 8.43056C5.3264 8.16099 5.79988 8.19741 6.06944 8.51191C6.33901 8.8264 6.30259 9.29988 5.98809 9.56944L4.02744 11.25H15Z" fill="%2384ea00"/></svg>'); }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
    .footer button {
        padding: 9px 18px;
        color: var(--one-soft);
        font-size: var(--fs-xl);
        border-radius: 4px;
        border: 1px solid var(--one-soft);
        background-color: var(--one);
        cursor: pointer;
    }
    .footer button:hover { color: var(--one-slim); border: 1px solid var(--one-slim); }

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

    .wrapper .title {
        width: 256px;
        text-align: center;
        font-size: var(--fs-lg);
    }

    .wrapper .badge {
        width: 256px;
        height: 368px;
        margin: 24px;
        position: relative;
        border: 1px dashed var(--alt);
        border-radius: 8px;
    }
        .wrapper .badge .qr-text {
            width: 100%;
            position: absolute;
            top: 24px;
            left: 0px;
            text-align: center;
            font-size: 24px;
            text-transform: uppercase;
            font-family: Lubrax-Type;
        }
        .wrapper .badge .qr-code {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 84px;
            left: 28px;
            z-index: 101;
        }

        .wrapper .badge .qr-icon {
            width: 48px;
            height: 48px;
            position: absolute;
            top: 160px;
            left: 104px;
            border-radius: 50%;
            border: 2px solid #000;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 32px 32px;
            background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M213.8,152.18c-12.77-16.65-17.11-24.41-49.27-30.8v-.91c20.53-6.61,27.38-6.39,36.95-19.84l37.18-52.47h-47.68l-29.65,41.74c-8.9,12.55-15.29,13.46-34.22,13.46-16.65,0-23.5-1.37-31.94-13.46l-29.66-41.74H17.85l37.18,52.47c9.58,13.46,16.43,13.23,36.95,19.84v.91c-32.16,6.39-36.5,14.14-49.27,30.8L.51,207.84h48.82l38.78-53.6c10.72-15.06,20.99-16.43,39.01-16.43,20.3,0,30.57,1.37,41.29,16.43l38.78,53.6h48.82l-42.2-55.66Z"/></svg>');
            z-index: 102;
        }

        .wrapper .badge .qr-logo {
            width: 100%;
            height: 64px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 40px;
            background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 391.45 96.04"><defs><style> .cls-1 { fill: none; } .cls-2 { fill: %23e3e2e2; } .cls-3 { clip-path: url(%23clippath); } </style><clipPath id="clippath"><rect class="cls-1" x="-181.1" y="243.67" width="1920" height="1080"/></clipPath></defs><g class="cls-3"><path class="cls-2" d="M-951.41,602.35L-552.46-38.2c38.43-61.71,100.19-105.24,171.23-120.69l753.04-163.82c99.88-21.73,203.44,15,267.32,94.81l441.94,552.18c57.5,71.85,74.31,168.09,44.55,255.17l-289.76,848.05c-35.4,103.61-130.04,175.44-239.35,181.67l-850.89,48.48c-92.87,5.29-181.89-37.76-235.42-113.84l-453.28-644.36c-62.18-88.38-65.45-205.39-8.32-297.12"/></g><g><path d="M87.29,22.71l8.93.05v37.9h-7.63l-.87-6.39h-.38c-4.71,4.33-10.61,7.2-20.63,7.2-13.86,0-19.93-5.25-19.93-19.33v-19.39h8.93v19.39c0,8.18,2.38,10.88,11.8,10.88,8.45,0,15.59-2.82,19.76-6.12v-24.2ZM8.99,22.76H.05l-.05,32.43c0,2.98,2.38,5.47,5.41,5.47l36.82.05v-8.12H8.99v-29.84ZM260.72,34.84v25.83h-7.63l-.87-6.39h-.38c-4.71,4.33-10.61,7.2-21.82,7.2-12.4,0-19.49-4.98-19.49-12.89,0-6.28,3.3-10.29,13.27-11.21,5.2-.49,17.22-1.46,27.99-2.38v-1.08c0-2.6-1.41-3.95-12.78-3.95-5.63,0-14.89.16-24.8,1.08v-8.12c15.81-1.03,21.5-1.03,23.07-1.03,19.33,0,23.45,3.3,23.45,12.94ZM251.84,42.26c-10.18.87-21.88,2.06-26.75,2.54-4.17.43-5.58,1.73-5.58,4.33,0,2.76,2.87,4.44,9.91,4.44,10.94,0,18.19-3.36,22.42-6.66v-4.66ZM312.87,47.45c-3.03-3.95-4.06-5.79-11.7-7.31v-.22c4.87-1.57,6.5-1.52,8.77-4.71l8.83-12.45h-11.32l-7.04,9.91c-2.11,2.98-3.63,3.19-8.12,3.19-3.95,0-5.58-.32-7.58-3.19l-7.04-9.91h-11.32l8.83,12.45c2.27,3.19,3.9,3.14,8.77,4.71v.22c-7.63,1.52-8.66,3.36-11.7,7.31l-10.02,13.21h11.59l9.21-12.72c2.54-3.57,4.98-3.9,9.26-3.9,4.82,0,7.26.32,9.8,3.9l9.21,12.72h11.59l-10.02-13.21ZM194.48,45.94l13.99,14.73h-10.56l-13.46-14.57h-16.11v14.57h-8.93V22.71c3.14-.43,13.16-.81,22.69-.81,10.5,0,25.23-1.25,25.23,12.51,0,6.84-3.85,10.72-12.86,11.53ZM168.35,38.52h24.37c3.52,0,5.41-1.57,5.41-4.44s-1.9-4.44-5.41-4.44h-24.37v8.88ZM153.13,48.92c0,13.86-14.78,12.62-25.29,12.62-9.48,0-19.44-.81-22.63-1.19V22.71c3.19-.43,11.53-.81,21.01-.81,10.5,0,25.29-1.25,25.29,11.05,0,3.25-1.62,6.82-5.09,6.82v.6c3.14,0,6.71,3.68,6.71,8.56ZM114.14,37.49h23.34c3.14,0,4.87-1.41,4.87-3.95s-1.73-3.9-4.87-3.9h-23.34v7.85ZM143.93,49.3c0-2.82-1.9-4.33-5.41-4.33h-24.37v8.66h24.37c3.52,0,5.41-1.52,5.41-4.33Z"/><path d="M362.96,27.25V0l-9.12,6.17c-2.1,1.42-3.36,3.8-3.36,6.34v14.74h-15.79c-2.5,0-4.84,1.22-6.27,3.27l-6.44,9.22h28.49v29.47l9.12-6.17c2.1-1.42,3.36-3.8,3.36-6.34v-16.96h15.79c2.5,0,4.84-1.22,6.27-3.27l6.44-9.22h-28.49Z"/><g><path d="M211.41,86.38h12.61c.8,0,1.41-.17,1.83-.5.42-.33.63-.98.63-1.93v-.2c-.04-.88-.27-1.47-.69-1.77-.42-.3-1.01-.45-1.77-.45h-8.31c-.51,0-.93-.05-1.26-.16-.33-.11-.65-.28-.97-.51-.31-.23-.7-.59-1.17-1.05-.41-.41-.73-.76-.95-1.07-.22-.3-.38-.62-.48-.97s-.15-.75-.15-1.21v-1.87c0-.35.03-.66.09-.94.06-.27.15-.53.26-.76.12-.23.27-.48.47-.73.31-.35.58-.62.79-.82.21-.19.37-.34.47-.44.1-.1.24-.24.44-.44.25-.21.5-.38.73-.51.23-.13.49-.21.76-.26.27-.05.6-.07.97-.07h13.37l-.88,3.8h-11.24c-.68,0-1.2.13-1.56.4-.36.26-.55.77-.57,1.54v.18c0,.84.18,1.4.54,1.68.36.28.89.42,1.59.42h8.63c.51,0,.93.05,1.26.15.33.1.64.26.94.5.29.23.68.6,1.17,1.08.43.43.76.79.98,1.08.22.29.38.6.48.94s.15.74.15,1.23v2.52c0,.35-.03.66-.09.94s-.15.53-.26.76c-.12.23-.27.48-.47.73-.31.35-.58.62-.79.82-.2.21-.38.4-.56.57-.18.17-.35.32-.53.45-.23.18-.46.31-.67.41-.21.1-.45.17-.7.22s-.56.07-.91.07h-15.07l.88-3.8Z"/><path d="M233.41,92.32h9.28c.66,0,1.15-.15,1.46-.44.31-.29.47-.86.47-1.7v-.97c-.39.37-.72.62-.99.76-.27.14-.57.2-.88.2h-5.94c-.64,0-1.15-.1-1.52-.29-.37-.2-.86-.61-1.46-1.23-.31-.31-.57-.62-.78-.92-.2-.3-.36-.61-.47-.94-.11-.32-.16-.66-.16-1.01v-10.24h4.01v9.16c0,.59.11,1.02.34,1.32.22.29.55.44.98.44h5.56c.45,0,.78-.15,1-.44.21-.29.32-.73.32-1.32v-9.16h4.01v16.09c0,.25-.03.51-.09.76-.06.25-.15.5-.26.73-.12.23-.26.47-.44.7-.14.16-.23.27-.29.34-.06.07-.16.18-.29.34-.18.18-.34.34-.5.48-.16.15-.31.28-.47.39-.31.23-.62.4-.92.5-.3.1-.68.15-1.13.15h-11.3l.47-3.72Z"/><path d="M251.2,86.74h9.45c.62,0,1.07-.08,1.35-.23.27-.16.41-.46.41-.91v-.09c0-.47-.14-.78-.41-.94-.27-.16-.72-.23-1.35-.23h-6.06c-.57,0-1.01-.09-1.33-.28s-.74-.57-1.24-1.16c-.39-.43-.66-.74-.8-.92-.15-.18-.25-.38-.32-.59-.07-.2-.1-.48-.1-.83v-1.2c0-.33.06-.65.18-.97.12-.31.29-.62.53-.94.1-.14.27-.33.53-.59.12-.12.23-.23.34-.34.11-.11.21-.21.31-.31.2-.18.38-.31.57-.41s.39-.17.6-.21c.21-.04.47-.06.76-.06h10.89l-.47,3.45h-8.46c-.62,0-1.07.07-1.35.2-.27.14-.41.41-.41.82v.12c0,.45.14.75.41.89.27.15.72.22,1.35.22h6.06c.57,0,1.01.09,1.33.28s.74.56,1.24,1.13l.29.32c.39.41.64.73.76.97.12.23.18.57.18,1v1.43c0,.33-.06.65-.18.97-.12.31-.29.62-.53.94-.1.14-.27.33-.53.59-.14.16-.27.3-.41.42s-.26.24-.38.34c-.27.22-.54.36-.79.44-.25.08-.59.12-1,.12h-11.88l.47-3.45Z"/><path d="M280.89,90.19h-5.81c-.79,0-1.43-.03-1.92-.06-.5-.04-.91-.1-1.23-.2-.33-.1-.61-.23-.86-.39-.16-.11-.33-.25-.49-.4-.16-.16-.34-.33-.51-.5-.11-.1-.23-.2-.31-.33-.1-.11-.19-.23-.26-.35-.18-.21-.33-.44-.46-.66-.13-.24-.21-.48-.28-.73-.05-.24-.09-.5-.09-.76v-7.62h-1.69l.46-3.21h1.23v-1.32l1.64-3.96h2.37v5.28h7.58l-.46,3.21h-7.12v6.15c0,.84.16,1.4.46,1.69.31.3.8.44,1.47.44h5.83l.46,3.72Z"/><path d="M285.39,90.13c-.22-.04-.43-.1-.63-.19-.2-.09-.39-.21-.59-.37-.16-.12-.32-.25-.48-.41-.17-.16-.34-.33-.51-.53-.19-.23-.4-.46-.61-.67-.16-.23-.29-.47-.41-.72-.12-.24-.21-.49-.28-.73-.07-.24-.1-.48-.1-.72v-5.85c0-.55.05-.96.15-1.24.1-.28.29-.59.59-.92.23-.23.46-.47.67-.7.2-.19.34-.34.42-.42s.23-.22.42-.39c.33-.27.65-.46.95-.56.3-.1.7-.15,1.18-.15h7.43c.64,0,1.15.1,1.52.29.37.2.86.6,1.46,1.23.31.31.57.62.77.92.21.3.36.61.47.94.11.32.16.66.16,1.01v2.25l-.47,1.64h-11.73v.85c0,.82.14,1.38.41,1.68s.63.45,1.08.45h9.86l.47,3.36h-11.44c-.29,0-.55-.02-.77-.06ZM293.98,81.06v-.53c0-.59-.11-1.02-.32-1.32-.21-.29-.55-.44-.99-.44h-5.56c-.43,0-.76.15-.98.44-.22.29-.34.73-.34,1.32v.53h8.19Z"/><path d="M300.01,75.56h2.93l.2,1.26c.51-.51.94-.84,1.29-1.01.35-.17.83-.25,1.43-.25h3.19c.64,0,1.15.1,1.52.29.37.2.86.6,1.46,1.23l.09.09.67-.64c.41-.39.78-.65,1.13-.78.34-.13.77-.19,1.27-.19h3.31c.47,0,.85.05,1.14.15.29.1.59.26.91.5.16.12.31.25.47.39.16.15.31.31.47.48.29.29.5.52.62.67.18.23.32.47.44.7.12.23.2.47.26.72.06.24.09.5.09.78v10.24h-4.01v-9.16c0-.59-.11-1.02-.32-1.32-.21-.29-.55-.44-.99-.44h-2.87c-.43,0-.76.15-.98.44-.22.29-.34.73-.34,1.32v9.16h-3.86v-9.16c0-.59-.11-1.02-.32-1.32-.21-.29-.55-.44-.99-.44h-2.87c-.43,0-.76.15-.98.44-.22.29-.34.73-.34,1.32v9.16h-4.01v-14.63Z"/></g></g></svg>');
        }

    .user, .store {
        width: 100%;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

@media only screen and (max-height: 592px) {
    .wrapper .badge { margin: 8px !important; }
}

@page {
    size: A4 portrait;  /* Ou 'A4 landscape' para horizontal */
    margin: 20mm;       /* Margens de 20mm em todos os lados */
}

@media print {

    /* trata os componentes para impressão */
    .wrapper .badge {
        width: 60mm;
        height: 90mm;
        border: 0.05mm dashed #000;
    }
        .wrapper .badge .qr-text {
            top: 24px;
            left: 0px;
        }
        .wrapper .badge .qr-code {
            top: 18mm;
            left: 3.5mm;
        }

        .wrapper .badge .qr-icon {
            top: 38mm;
            left: 24mm;
        }

        .wrapper .badge .qr-logo {
            height: 64px;
            bottom: 0px;
            left: 0px;
        }

    /* Evita impressão de elementos desnecessários */
    .no-print {
        display: none !important;
    }

    /* Controla as quebras de página */
    .page-break {
        page-break-before: always;  /* Força quebra de página antes do elemento */
    }
}